

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
     border: 1px dashed #97BEF4;
     background: #F6F8F8;
     width: 338px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.wrapper p{
    font-size: 12px;
    height: 18px;
    text-align: center;
    color: #bdbdbd;
}